name: Main
on:
  push:
    tags:
      - "*"
  workflow_dispatch:
  #schedule:
  #  - cron: "30 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      current_time: ${{ steps.current_time.outputs.current_time }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Get current time
        id: current_time
        run: echo "current_time=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"

      - name: Build
        run: bun run build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
      - name: ls dist
        run: ls -la dist/*

      - name: Release
        uses: softprops/action-gh-release@v2.0.4
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          files: dist/**

      - name: Prerelease
        uses: softprops/action-gh-release@v2.0.4
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        with:
          name: ${{needs.build.outputs.current_time}}
          tag_name: ${{needs.build.outputs.current_time}}
          fail_on_unmatched_files: true
          prerelease: true
          files: dist/**
